.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.plate{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}



/* Для мобильных устройств */
@media (max-width: 600px) {
  .plate {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
  .plate {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Для десктопов */
@media (min-width: 1025px) {
  .plate {
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}